<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <ul>
          <li>From Iowa City, Iowa</li>
          <li>Traveled in an RV across the country for over a year</li>
          <li>Lived in Bethel, AK for a year</li>
          <li>Avid Bicycle Rider</li>
          <ol>
            <li>Road Touring</li>
            <li>MTB (Enduro/Downhill)</li>
            <li>XC Trail Riding</li>
          </ol>
        </ul>
    </body>
</html>
