

<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h3>This is heading 3</h3>
        <p>This is the paragraph after heading 3</p>
    </body>
</html>


<!-- This requested with:  http://localhost:9393/info  -->
